snippet au "Author Messages"
/**
 * ${1:Class Messages}
 *
 * @author `!v g:snips_author`
 * @date `!v strftime("%Y/%m/%d %H:%M:%S")`
 */${0}
endsnippet

snippet me "Method Messages"
/**
 * ${2:Method Description}
 *
 * @param <++>
 * @return ${1:Return Description}
 */${0}
endsnippet
